@inject IRepositories repository

<div class="row p-5 bg-warning m-2">

    <div class="col">
        <div class="form-group mb-2">
            <label for="MovieTitle" class="sr-only">Nombre Pelicula</label>
            <input type="text" class="form-control" id="MovieTitle" placeholder="Buscar Pelicula"
                @bind-value="MovieTitle" @bind-value:event="oninput" @onkeypress=@((KeyboardEventArgs e) =>
                MovieNameKeyPress(e))/>
        </div>
    </div>

    <div class="col">
        <label for="CategorySelected" class="sr-only">Categoria</label>
        <select class="form-control" id="CategorySelected" @bind=@CategorySelected>
            <option value="0">Seleccione una categoria</option>
            @foreach (var item in Categories)
            {
                <option value=@item.Id>@item.Name</option>
            }
        </select>
    </div>

    <div class="col">
        <div class="form-inline">
            <input type="checkbox" class="form-check-input" id="estrenos" @bind=@FuturosEstrenos>
            <label for="estrenos" class="form-check-label">Futuros Estrenos</label>
        </div>
        <div class="form-group">
            <input type="checkbox" class="form-check-input" id="cartelera" @bind=@EnCartelera>
            <label for="cartelera" class="form-check-label">En Cartelera</label>
        </div>
        <div class="form-group">
            <input type="checkbox" class="form-check-input" id="mejorCalificadas" @bind=@MejorCalificadas>
            <label for="mejorcalificadas" class="form-check-label">Mejor Calificadas</label>
        </div>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-center">
        <button type="button" class="btn btn-primary" @onclick="CargarNuevasPeliculas">Filtrar</button>
        <button type="button" class="btn btn-danger" @onclick="LimpiarCampos">Limpiar Campos</button>
    </div>

</div>

<PostersMoviesComponent Movies="Movies" IsAdmin="IsAdmin"/>

@code{

    [Parameter] public bool IsAdmin {get;set;}

    public List<Movie> Movies;


    string MovieTitle = "";
    string CategorySelected = "";
    private bool FuturosEstrenos = false;
    private bool EnCartelera = false;
    private bool MejorCalificadas = false;


    //No hay una lista verdadera conectada con este sevicio....................
    private List<Category> Categories = new List<Category>();
    //--------------------------------------------------------------------------

    private void MovieNameKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            CargarNuevasPeliculas();
        }
    }

    private void CargarNuevasPeliculas()
    {
        Movies = Movies.Where(m => m.Title.ToLower().Contains(MovieTitle.ToLower())).ToList();
    }

    private void LimpiarCampos()
    {
        Movies = new List<Movie>();
        MovieTitle = "";
        CategorySelected = "0";
        FuturosEstrenos = false;
        EnCartelera = false;
        MejorCalificadas = false;
    }

}