@if(Staffs == null)
{
    <h1>Cargando...</h1>
}
else
{
    <div class="container-fluid col-4 d-none d-lg-block bg-black p-2">

        <div class="container-fluid">
            <h3 class="text-light">Nuestras estrellas</h3>
        </div>

        <div class="row pe-3 py-1">
            @for (int i = 0; i < 6; i++)
            {
                <div class="col-4 py-2">
                    <a href="/staff/@Staffs[i].Id">
                        <img class="mx-auto d-block rounded" src=@Staffs[i].ProfileImage style="max-width: 115px;" alt="">
                    </a>
                </div>
            }
        </div>

    </div>
}

@code {
    [Parameter] public List<Staff> Staffs { get; set; }
}