@page "/staff/delete/{id:int}"

<HeaderComponent></HeaderComponent>

<div class="container-fluid bg-warning p-3">
    <h1>¿ Desea ELIMINAR definitivamente la persona @Staff.Name ?</h1>
    <button class="btn btn-lg btn-danger" @onclick="Delete">ELIMINAR</button>
</div>

@code{ 
    [Parameter] public int id {get;set;}
    public Staff Staff {get;set;}

    protected override void OnInitialized()
    {
        Staff = new Staff(){ Id = 1 };
    }

    void Delete()
    {
        return;
    }

}

