@if (TypeOfButtonTrailer == "Card")
{
    <a target="_blank" href="@RedirectTrailer" class="btn btn-success btn-lg">Trailer</a>
}
else if(TypeOfButtonTrailer == "Poster")
{
    <a target="_blank" href="@RedirectTrailer" class="btn btn-success btn-sm">Trailer</a>
}

@code{
    
    [Parameter] public string RedirectTrailer { get; set; }
    [Parameter] public string TypeOfButtonTrailer { get; set; }
}