
@if(Categories == null)
{
    <h1>Cargando...</h1>
}
else
{
    <div class="row bg-secondary">
        @foreach (var item in Categories)
        {
            <a href="/categories/edit/@item.Id" class="col-2 btn btn-danger m-3">@item.Name</a>
        }
    </div>
}



@code{

    [Parameter] public List<Category> Categories { get; set; }

}