@page "/categories/{id:int}"

<HeaderComponent/>

<h1>Estas en ver categoria</h1>
@* 
@if(IsAdmin)
{
    <AdminCreateComponent Category="Category"></AdminCreateComponent>
}

<div class="bg-warning p-5">
    <h1>@Category.Name</h1>
</div>

@if(IsAdmin)
{
    <AdminEditDeleteComponent Category="Category"></AdminEditDeleteComponent>
}
 *@
<FooterComponent/>


@code{

//    public bool IsAdmin = true;

    [Parameter] public int id {get;set;}
//    public Category Category;

//    protected override void OnInitialized()
//   {
//        Category = new Category(){ Id = 1 };
//    }
}
