@if(Movie != null)
{
    <div class="d-grid gap-2 d-md-flex justify-content-center">
        <a href="/movies/edit/@Movie.Id" class="btn btn-primary btn-sm">Editar</a>
        <a href="/movies/delete/@Movie.Id" class="btn btn-danger btn-sm">Borrar</a>
    </div>
}
else if(Staff != null)
{
    <div class="d-grid gap-2 d-md-flex justify-content-center">
        <a href="/staff/edit/@Staff.Id" class="btn btn-primary btn-sm">Editar</a>
        <a href="/staff/delete/@Staff.Id" class="btn btn-danger btn-sm">Borrar</a>
    </div>
}

@code{

    [Parameter] public Movie Movie {get;set;}
    [Parameter] public Staff Staff {get;set;}
}
