<EditForm Model="Category" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>

    <div class="row bg-warning m-3">
        <div class="col-m4 bg-danger m-3">
            <InputText class="form-control" @bind-Value=@Category.Name placeholder="Nombre de la Categoria"></InputText>
            <ValidationMessage For=@( () => @Category.Name ) ></ValidationMessage>
        </div>
        <div class="col-m4 m-3">
            <button class="btn btn-success btn-lg">Crear</button>
        </div>
    </div>

    <AdminSelectComponent NotSelectedList="NotSelected" SelectedList="Selected"></AdminSelectComponent>

</EditForm>

@code{

    [Parameter] public Category Category { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public List<Movie> NotSelectedMovies { get; set; }
    [Parameter] public List<Movie> SelectedMovies { get; set; }

    private List<MultiSelectorModel> NotSelected { get; set; } = new List<MultiSelectorModel>();
    private List<MultiSelectorModel> Selected { get; set; } = new List<MultiSelectorModel>();
    
    protected override void OnInitialized()
    {
        NotSelected = NotSelectedMovies.Select( m => new MultiSelectorModel( m.Id.ToString(), m.Title)).ToList();
        Selected = SelectedMovies.Select( m => new MultiSelectorModel( m.Id.ToString(), m.Title)).ToList();
    }
}