@page "/staff"
@inject IRepositories repository

<HeaderComponent></HeaderComponent>

    <div>
        @if (IsAdmin)
        {
            <AdminCreateComponent Staff="Staff"/>
        }

    </div>

    <div>

        <PostersProfilesComponent Staffs = "Staffs" IsAdmin = "IsAdmin"/>

    </div>

<FooterComponent></FooterComponent>

@code{

    public bool IsAdmin = true;
    public Staff Staff = new Staff();

    public List<Staff> Staffs { get; set; }
    
    protected async override Task OnInitializedAsync()
    {
        var responseHttpStaff = await repository.Get<List<Staff>> ("api/Staff");
        Staffs = responseHttpStaff.Response;
    } 
}